title{
    border-style: solid;
     display: inline;   
     padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 30px;
}
p1 {
    font-family: Arial;
    font-weight: 900;
    font-size: 42px;
    

}
p2 {
    font-family: Helvetica;
    font-weight: 100;
    font-style: italic;
    font-size: 42px;
   
}
p3{
  font-family: Helvetica;
  font-weight: 500;  
  font-size: 42px;
}